<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Login</h1>
    <form action="/login" method="post">
        <table>
            <tr>
                <td>Username</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
